@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Variáveis globais */
:root {
    --cor0: #e4ccff5b;
    --cor1: #E4CCFF;
    --cor2: #9747FF;
    --cor3: #801EFF;
    --cor4: #5000b8;

    --fonte-padrao: "Poppins", Arial, Verdana, Helvetica, sans-serif;
}

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte-padrao), Arial, Helvetica, sans-serif;
}

/* Estilo Padrão */
body {
    background-color: var(--cor0);
    color: #000;
    font-size: 16px;
    line-height: 1.5;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    background: none;
    font: inherit;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    min-height: 100%;
    width: 100%;
}

/* Icons */
.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
    display: flex;
    align-items: center;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
}


/* Media Queries */
@media screen and (min-width: 768px) {
  html,
  body {
    background-image: linear-gradient(to bottom, var(--cor0), var(--cor3));
}
}
