@charset "UTF-8";

/* Versão Mobile First */
.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Cabeçalho */
.header {
  flex-shrink: 0;
  background-color: var(--cor4);
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.logoImage {
  margin-top: 17px;
  width: 35px;
  height: 35px;
}

.title {
  text-align: center;
  padding-bottom: 20px;
  padding-top: 40px;
  font-weight: 700;
  color: var(--cor1);
}


/* Conteúdo Principal */
.mainContent {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-left: 200px;
  background-color: #fff;
  color: #000;
  padding-top: 60px;
}

.psicologoCardContent {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
}

.psicologoList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.psicologoCard {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  padding: 16px;
  border-bottom: 1px solid #ddd;
  max-width: 1400px;
}

.psicologoCard:last-child {
  border-bottom: none;
}

.psicologoFoto {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.psicologoInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.psicologoCrp {
  font-size: 12px;
  color: #666;
  margin: 4px 0;
}

.chipsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin: 8px 0;
}

.chip {
  background-color: #f0f0f0;
  padding: 2px 6px;
  border-radius: 12px;
  font-size: 12px;
}

.psicologoBio {
  color: #666;
  margin: 10px 0;
}

.psicologoValor {
  color: var(--cor3);
  font-weight: 600;
  margin-top: 10px;
}

.valorSocial {
  color: green;
  margin-left: 8px;
}

.psicologoModalidade {
  width: fit-content;
  background-color: var(--cor1);
  padding: 2px 8px;
  border-radius: 8px;
  font-size: 12px;
  margin-top: 12px;
}

.psicologoStats {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-top: 12px;
  margin-bottom: 40px;
}

.psicologoStat {
  display: flex;
  align-items: center;
  color: #333;
  font-size: 14px;
}

.psicologoStat strong {
  margin: 0 4px;
  color: #000;
}

/* Informações Extra da Página de Perfil */
.psicologoInfoExtra {
  display: flex;
  align-items: top;
  justify-content: space-between;
  padding-top: 40px;
  border-top: 1px solid #ddd;
}

.psicologoInfoExtra h3 {
  margin-bottom: 15px; /* ajuste o valor como preferir */
}

.psicologoInfoExtra ul {
  list-style-type: circle; /* opções: disc, circle, square, decimal, none */
  padding-left: 20px;
}

/* Barra Lateral */ 
.sideBar {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  background-color: var(--cor4);
  color: var(--cor1);
  font-size: 18px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

/* Bloco de perfil */
.profileBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 30px;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid var(--cor1);
  margin-bottom: 20px;
}

.profileInfo {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--cor1);
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}

.editButton {
  background: none;
  border: none;
  color: var(--cor1);
  cursor: pointer;
  font-size: 10px;
  padding: 2px;
  margin-bottom: 4px;
}

/* Botões de Navegação */
.navButton {
  display: flex;
  align-items: center;
  gap: 10px;
  background: none;
  border: none;
  color: var(--cor1);
  font-size: 16px;
  padding: 12px 16px;
  cursor: pointer;
  width: 100%;
  text-align: left;
  transition: 0.2s ease;
  box-sizing: border-box;
}

.navButton:hover {
  background-color: rgba(255, 255, 255, 0.1);
}


/* Botão de logout */
.logoutBlock {
  margin-top: auto;
  margin-left: 40px;
  margin-bottom: 80px;
}

.logoutButton {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: transparent;
  border: 2px solid var(--cor1);
  color: var(--cor1);
  padding: 10px 15px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.logoutButton:hover {
  background-color: var(--cor1);
  color: var(--cor4);
}

.logoutButton .material-symbols-outlined {
  font-size: 20px;
}


/* Rodapé */
.footer {
  display: none;
  flex-shrink: 0;
  text-align: center;
  background-color: var(--cor4);
  color: var(--cor1);
  padding: 20px;
}